<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAr11QLsZfEQBFH02JrO5kL68syVi2ERMI</string>
	<key>GCM_SENDER_ID</key>
	<string>324510735442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dhanra</string>
	<key>PROJECT_ID</key>
	<string>dhanra-ypfm</string>
	<key>STORAGE_BUCKET</key>
	<string>dhanra-ypfm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324510735442:ios:f7135db5d1c4315634138b</string>
</dict>
</plist>